<h1>Items#edit</h1>
<p>Find me in app/views/items/edit.html.erb</p>


	<%= form_with(model: @item, url: user_item_path(@item, current_user), method: "patch", local: true) do |f| %>

			<% if @item.errors.any? %>
	<div id="error_explanation">
	
		<div class="alert alert-danger">
			The form contains <%= pluralize(@item.errors.count, "error") %>.
		</div>
	
		<ul>
			<% @item.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	
	</div>
<% end %>


	<%= f.label :name %>
	<%= f.text_field :name %>
	
	<%= f.label :description %>
	<%= f.text_field :description %>

	<%= f.hidden_field :user_id, value: current_user.id %>

<%= f.submit "Add item"%>	


	<% end%>
