<% if @item == nil %>
  <h1>Add new item</h1>

  <%= form_with(model:  Item.new(user_id: params[:user_id]), url: user_items_path,remote: true ) do |f| %>
      <table class = "table">
      <tr><th>  <%= f.label :name %></th>
          <th>  <%= f.label :description %></th>
          <th>  <%= f.hidden_field :user_id, value: current_user.id %></th></tr><tr>
          <td>  <%= f.text_field :name %></td>
          <td>  <%= f.text_field :description %></td>   
          <td>  <%= f.submit "Add item", class: "btn btn-primary"%> </td></tr>
      </table>
    <% end %>
<% else %>
     <h1>Update </h1>
     <%= form_with(model: @item,  url: [current_user,@item], method: :put,local: true)  do |f| %>

    <table class = "table">
    <tr><th>  <%= f.label :name %></th>
        <th>  <%= f.label :description %></th>
        <th>  <%= f.hidden_field :user_id, value: current_user.id %></th></tr><tr>
        <td>  <%= f.text_field :name %></td>
        <td>  <%= f.text_field :description %></td>   
        <td>  <%= f.submit "Update", class: "btn btn-primary"%> </td></tr>
    </table>

  <% end %>
<% end %>
<h1>Items</h1>

<table class="table">
    <thead>
      <tr>
        <th  style="width: 250px ;">Name</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
<% @items.each do |item|  %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.description %></td>
        <td>
        	<%= link_to "Edit",   user_items_path( id: item.id)%>
        	<%= link_to "Delete", user_item_path(id: item.id, user_id:  current_user.id), method: :delete , remote: true%>
                 
        </td>
      </tr>
<% end %>
    </tbody>
</table>
