


<h1>Add new item</h1>


<%= form_with(model: @item, url: user_items_path, method: "post", local: true) do |f| %>

<% if @item.errors.any? %>
<h1>error</h1>
  <div id="error_explanation">
  
    <div class="alert alert-danger">
      The form contains <%= pluralize(@item.errors.count, "error") %>.
      </div>
  
    <ul>
      <% @item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% else %> 
<h1>no error</h1>
<% end %>
<table class = "table">
  <tr>
    <th>  <%= f.label :name %></th>
    <th  >  <%= f.label :description %></th>
    <th> <%= f.hidden_field :user_id, value: current_user.id %></th>
  </tr><tr>
    <td>  <%= f.text_field :name %></td>
    <td>  <%= f.text_field :description %></td>
    
    <td > <%= f.submit "Add item", class: "btn btn-primary"%> </td>
  </tr>
</table>
  <% end%>

<h1>Items</h1>

<table class="table">
    <thead>
      <tr>
        <th  style="width: 250px ;">Name</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
<% @items.each do |item|  %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.description %></td>
        <td>
        	<%= link_to "Edit", edit_user_item_path(user_id: current_user.id, id: item.id) %>
        	<%= link_to "Delete", user_item_path(id: item.id, user_id: current_user.id), method: :delete %>
         
        
        </td>
        

      </tr>
<% end %>
</tbody>
</table>

 